html, body {
	margin: 0px;
	padding: 0px;
	font-size: 0px;
	height: 100%;
	font-family: 'Raleway' !important;
}
* {
	font-family: 'Raleway' !important;
}
body {
	background-color: #131313;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
}
.row {
	margin: 0px;
	padding: 0px;
}

/* OVERLAY */
.overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color: #131313;
	z-index: 10000;
}

/* NAVIGATION ROW */
div.top {
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-negative: 1;
	flex-shrink: 1;
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
	padding-left: 1vw;
	padding-right: 1vw;
}
div.top .container {
	background-color: #1b1b1b;
	width: 100%;
	padding: 1.25vh 0vw;
	cursor: pointer;
}
.dropdown-under {
	height: 0.25vh;
	width: 100%;
}
div.top .col-2, div.top .col-4, div.top .col-5 {
	padding: 3.5vh 1vw 2.25vh 1vw;
}
div.top .col-1 {
	padding: 3.5vh 0 2.25vh 0;
}
div.top .container .name {
	color: gray;
	font-size: 2.5vh;
	padding: 5px;
}
div.top .container img {
	height: 2.5vh;
}

.btn-selected h4 {
	color: white !important;
}

/* DIVIDER */
div.middle {
	height: 1px;
	background: #333333;
	margin: 1.25vh 0 2.5vh 0;
}



/* CHART SECTION */
div.bottom {
	height: auto;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 1;
	flex-shrink: 1;
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
	position: relative;
}
div.bottom .chart-container {
	height: calc(100vh - 14.75vh - 2.5vh - 15px);
	width: 100%;
}
#chart {
	width: 100%;
	height: 100%;
	padding: 2vh 10px 1vh 10px;
}
#btnZoom {
	width: 5vh;
	height: 5vh;
	position: absolute;
	right: 3vh;
	top: 4vh;
	background: url(../img/plus.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}

/* TOOLTIP STYLE */
#chartjs-tooltip {
	font-family: "Raleway";
	font-size: 14px;
	opacity: 1;
	position: absolute;
	background: rgba(0, 0, 0, .9);
	color: white;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 0 0.25vh #87d403;
	box-shadow: 0 0 0 0.25vh #87d403;
	-webkit-transition: all .1s ease;
	transition: all .1s ease;
	pointer-events: none;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
.chartjs-tooltip-key {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 10px;
}
thead {
	border-bottom: 0.25vh solid #87d403;
}
tfoot {
	border-top: .25vh solid #87d403;
}

th, td {
	font-family: "Raleway";
	white-space: nowrap;
	overflow: hidden;
}
thead th {
	padding-bottom: 5px;
}
tfoot td {
	padding-top: 5px;
}
.value {
	padding-left:10px;
	color: #87d403;
}

.date-range {
	font-size: 2.5vh !important;
	color: white;
}



/* Special Style for Landscape */
@media (orientation: landscape) {
	/* TODO */
}